VIRTUAL_HOST=foo.local

ELASTICSEARCH_URL=https://es-proxy:9200
ELASTIC_PASSWORD=PleaseChangeMe

ES_CERTS_DIR=/usr/share/elasticsearch/config/certificates
KBN_CERTS_DIR=/usr/share/kibana/config/certificates
METRICBEAT_CERTS_DIR=/usr/share/metricbeat/certificates
LOGSTASH_CERTS_DIR=/usr/share/logstash/config/certificates
APM_CERTS_DIR=/usr/share/apm-server/certificates
NGINX_CERTS_DIR=/etc/nginx/certificates
CURATOR_CERTS_DIR=/usr/share/curator/certificates

KBN_ES_USERNAME=kibana
KBN_ES_PASSWORD=PleaseChangeMe

XPACK_SECURITY_ENCRYPTIONKEY=somethingthatisverylongintermsofnumberofcharactersmaybethisisgood
XPACK_REPORTING_ENCRYPTIONKEY=somethingthatisverylongintermsofnumberofcharactersmaybethisisgood

LOGSTASH_WRITER_ES_USERNAME=logstash_writer
LOGSTASH_WRITER_ES_PASSWORD=PleaseChangeMe
LOGSTASH_SYSTEM_ES_USERNAME=logstash_system
LOGSTASH_SYSTEM_ES_PASSWORD=PleaseChangeMe

BEATS_WRITER_ES_USERNAME=metricbeat_writer
BEATS_WRITER_ES_PASSWORD=PleaseChangeMe
BEATS_SYSTEM_ES_USERNAME=beats_system
BEATS_SYSTEM_ES_PASSWORD=PleaseChangeMe

CURATOR_ES_USERNAME=elastic
CURATOR_ES_PASSWORD=PleaseChangeMe

APM_SERVER_URL=http://apmserver:8200

CURATOR_CLIENT_HOST=es-proxy

SESSION_SECRET=PleaseChangeMe

BOT_ELASTIC_APM_TOKEN=foo
BOT_ELASTIC_APM_SERVER_URL=http://apm-server:8200
BOT_SLACK_BOT_TOKEN=foo

TWITTER_CONSUMER_KEY=PleaseChangeMe
TWITTER_CONSUMER_SECRET=PleaseChangeMe
TWITTER_OAUTH_TOKEN=PleaseChangeMe
TWITTER_OAUTH_TOKEN_SECRET=PleaseChangeMe

